{% load static %}

<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Ваттовое море{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link href="{% static '/css/base.css' %}" rel="stylesheet">
  </head>
  <body>
    <!-- Header -->
    {% block header %}
    <header class="ws-header home-bg d-flex justify-content-end align-items-end">
      <div class="header-title text-white">    
        <h1 class="display-2">Ваттовое море</h1>
      </div>
    </header>
    {% endblock %}
    
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg py-3" aria-label="navbar">
      <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-primary" aria-controls="navbar-primary" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-md-start" id="navbar-primary">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/">Главная</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'regions' %}">Регионы</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'species' %}">Обитатели</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    
    <!-- Main content -->
    {% block content %}
    
    {% endblock %}
    
    <!-- Footer -->
    <div class="container">
      <footer class="pt-4 pb-3 my-4 border-top">
        <ul class="nav justify-content-center pb-3 mb-2">
          <li class="nav-item">
            <a href="/" class="nav-link px-2">Главная</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'regions' %}" class="nav-link px-2">Регионы</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'species' %}" class="nav-link px-2">Обитатели</a>
          </li>
        </ul>
        <p class="text-center text-muted">© 2022. Все права на текст и фотографии принадлежат сайту <a href="https://www.nationalpark-wattenmeer.de/" title="Сайт национальных парков Ваттового моря">nationalpark-wattenmeer.de</a></p>
      </footer>
    </div>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
  </body>
</html>